# ========================
# 🍎 Mac & Windows System
# ========================
.DS_Store
Thumbs.db

# ========================
# 💻 IDE (Редакторы кода)
# ========================
# IntelliJ IDEA
.idea/
*.iml
*.iws
# VS Code (часто используют для Angular)
.vscode/
*.code-workspace

# ========================
# ☕️ Java (Backend)
# ========================
# Скомпилированные файлы
*.class
*.log
*.jar
*.war

# Maven (если собираете через Maven)
target/

# Gradle (если собираете через Gradle)
.gradle/
build/
!gradle-wrapper.jar

# ========================
# 🅰️ Angular / Node.js (Frontend)
# ========================
# Самое важное: папка с библиотеками (весит сотни Мб)
node_modules/

# Результат сборки сайта (то, что получается после ng build)
dist/
out-tsc/

# Временные файлы Angular
.angular/
.sass-cache/

# Логи ошибок npm
npm-debug.log
yarn-error.log

# Файлы окружения (если храните там пароли/ключи API)
.env
.env.local

# Тесты (покрытие кода)
coverage/
